* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 20px;
    font-size: 40px;
    color: #000000;
}

h3 {
    margin: 20px;
}

:root {
    --azul: #4F46E5;
    --preto: #000000;
    --branco: #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 0;
}

.logo {
    width: 12vw;
    height: 12vw;
}

header .logo {
    margin: 0 1vw;
}

nav {
    display: flex;
    align-items: center;
    height: 20vh;
    width: 50vw;
    justify-content: space-around;
}
.icon{
    width: 6vw;
    height: 6vw;
}

nav a {
    font-size: 1.7vw;
    color: var(--preto);
    transition: 0.2s;
    cursor: pointer;
}

nav a:hover {
    color: var(--azul);
}

.sep {
    height: 5vh;
    border: none;
    border-radius: 3vw;
    border-left: 0.2vw solid var(--preto);
}

form {
    background-color: var(--azul);
    width: 600px;
    height: 250px;
    border-radius: 50px;
    justify-content: space-around;
    align-content: center;
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 3);
}

.divajust {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: none;
    position: relative;
    right: 20px;
}

button {
    width: 250px;
    height: 45px;
    border-radius: 15px;
    border: 0.5vw solid var(--branco);
    font-size: 2vw;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--azul);
    padding: 1.5vh 3vw;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button:hover {
    scale: 1.1;
    color: var(--azul);
    background-color: var(--branco);
}


select {
    padding: 0.5vw;
    border-radius: 2vw;
    border: none;
    width: 165px;
    display: flex;
}

label {
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    padding: 0.5vw;
    border-radius: 2vw;
    border: none;
}

.voltar {
    color: #000000;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    display: block;
    width: 45vw;
    transition: 0.1s;
    text-align: right;
}

.voltar:hover {
    color: var(--azul);
}

footer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .container {
    display: flex;
    gap: 5vw;
}

footer .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    margin: 5vh 0;
    gap: 0.5vh 0;
}

footer li {
    font-size: 1.5vw;
    margin: 3vh 0;
}

footer h3 {
    width: 100%;
    letter-spacing: 0.1vw;
    font-size: 2vw;
}

footer p {
    font-size: 1.3vw;
    margin-bottom: 2vh;
}