* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --azul: #4F46E5;
    --preto: #000000;
    --branco: #ffffff;
    --background: #F7F7F7;
}

main {
    background-color: var(--background);
    padding-bottom: 5vh;
}

/* inicio>> header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 0;
}

.logo {
    width: 12vw;
    height: 12vw;
}
.icon{
    width: 6vw;
    height: 6vw;
}
header .logo{
    margin: 0 1vw;
}
nav {
    display: flex;
    align-items: center;
    height: 20vh;
    width: 60vw;
    justify-content: space-around;
}
nav a{
    font-size: 1.7vw;
    color: var(--preto);
    transition: 0.2s;
    cursor: pointer;
}
button {
    border: 0.5vw solid var(--azul);
    border-radius: 10vw;
    font-size: 2vw;
    font-weight: bold;
    color: var(--azul);
    background: none;
    padding: 1.5vh 2vw;
    transition: 0.3s;
    cursor: pointer;
}
button:hover {
    background: var(--azul);
    color: var(--branco);
    scale: 1.1;
}
nav a:hover{
    color: var(--azul);
}

.banner {
    position: relative;
}
.banner img {
    width: 90vw;
}
.banner button {
    position: absolute;
    left: 5vw;
    bottom: 6vw;
}

.sep{
    height: 5vh;
    border: none;
    border-radius: 3vw;
    border-left: 0.2vw solid var(--preto);
}
/* end */


/* inicio>> conteudo site */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    color: var(--preto);
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2.5vh;
    margin-top: 7vh;
}
.title {
    margin-top: 4vh;
}
span{
    color: var(--azul);
    scale: 1.1;
    font-weight: bold;
}
.div-informações p{
    background-color: white;
    margin-bottom: 1.7vh;
    padding: 2vh;
    border-radius: 2vw;
    font-size: 1.5vw;
}
.bnt-a{
    background-color: var(--azul);
    color: white;
    padding: 0.9vw 0.7vw;
    font-size: 1.5vw;
    border-radius: 1.5vw;
    font-weight: bold;
    border: 0.3vw solid white;
}
.div-sep{
    display: flex;
    gap: 1vw;
    padding-top: 0.8vh;

}
.novo-agendamento{
    margin-top: -2vh;
    display: flex;
    align-items: center;
    background-color: white;
    color: var(--azul);
    padding: 10px;
    border-radius: 3vw;
    font-weight: bold;
    border: 0.4vw solid var(--azul);
    font-size: 1.8vw;
    height: 3vh;
    transition: 0.3s;
}

.novo-agendamento:hover{
    scale: 1.1;
    background-color: var(--azul);
    color: var(--branco);
}

.novo-agendamento span {
    font-size: 3vw;
    color: var(--azul);
    transition: 0.3s;
}
.novo-agendamento span:hover {
    color: var(--branco);
}
.div-informações{
    background-color: var(--azul);
    width: 30vw;
    min-height: 23vh;
    border-radius: 2vw;
    padding: 2vw;
    margin-bottom: 5vh;
}
/* end */

/* inicio>> footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}
.container-footer {
    display: flex;
    gap: 5vw;
}
footer .container-footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    margin: 5vh 0;
    gap: 0.5vh 0;
}
footer li {
    font-size: 1.5vw;
    margin: 3vh 0;
}
footer h3 {
    width: 100%;
    letter-spacing: 0.1vw;
    font-size: 2vw;
}
footer p {
    font-size: 1.3vw;
    margin-bottom: 2vh;
    font-weight: lighter;
}
/* end */