<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Consulta</title>
    <link rel="stylesheet" href="../static/css/agendamento.css">
</head>
<body>

    <header>
        <img src="../static/img/logoDog.png" alt="Logo Dog Dodói" class="logo">
        <nav>
            <a href="pagina-inicial"><img src="../static/img/icon.png" alt="" class="icon"></a>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1 class="title">{{ agenda and 'Editar' or 'Novo' }} Faça sua consulta <br> conosco</h1>
            <div class="div-form">
                <form action="{{ url_for('editar_consulta', codigo=agenda[0]) if agenda else url_for('agendar') }}" method="post">
                    <label for="nome_do_animal">Nome do Animal:</label>
                    <input type="text" id="nome_do_animal" name="nome_do_animal" value="{{ agenda and agenda[1] or '' }}" required placeholder="Nome do animal*">
                    
                    <label for="nome_do_tutor">Nome do Tutor:</label>
                    <input type="text" id="nome_do_tutor" name="nome_do_tutor" value="{{ agenda and agenda[2] or '' }}" required placeholder="Nome do tutor*">
                    
                    <label for="sintomas">Sintomas:</label>
                    <input type="text" id="sintomas" name="sintomas" value="{{ agenda and agenda[5] or '' }}" required placeholder="Sintomas*">
                    
                    <label for="data">Data:</label>
                    
                    <input class="input-data" type="date" id="data" name="data" value="{{ agenda and agenda[3] or '' }}" required>
                    <div class="div-lado">

                        <div class="div-hora">
                            <label for="hora">Hora:</label>
                            <input class="input-hora" type="time" id="hora" name="hora" value="{{ agenda and agenda[4] or '' }}" required>
                        </div>

                        <div class="div-bnt-agendar">
                            <button class="bnt-agendar" type="submit">Agendar</button>
                        </div>

                    </div>
                </form>
            </div>
            <a class="link-voltar" href="/pagina-inicial">Voltar</a>
        </div>
    </main>

    <footer id="contato">
        <img src="../static/img/logoDog.png" alt="Logo Dog Dodói" class="logo">
        <div class="container-footer">
            <div>
                <h3>Atendimento</h3>
                <ul>
                    <li>clinicadogdodoi@gmail.com</li>
                    <li>(18) 91234-5678</li>
                </ul>
            </div>
            <div>
                <h3>Redes Sociais</h3>
                <ul>
                    <li>ClinicaDogDodoi</li>
                </ul>
            </div>
        </div>
        <p class="texto-footer">DogDodói® - Todos os direitos reservados | Avenida dos Peludos - N° 123 
            -  Cidade das Cores / Planalto da Alegria - CNPJ: 12.345.678/0001-90
        </p>
    </footer>

</body>
</html>