<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se!</title>
</head>
<body>
    <div>
        <h1>Cadastro</h1>
        <form action="{{ url_for('editar_login', codigo=login[0]) if login else url_for('cadastrar') }}" method="post">
            <h2>Informações do Tutor:</h2>
            <label for="">Nome do tutor:</label>
            <input type="text" name="nome-tutor" value="{{ login and login[1] or '' }}" required>

            <label for="">Telefone:</label>
            <input type="tel" name="telefone" value="{{ login and login[2] or '' }}" required>

            <h2>Informações do Animal:</h2>
            <label for="">Nome do Animal</label>
            <input type="text" name="nome-animal" value="{{ login and login[3] or '' }}" required>

            <label for="">Espécie:</label>
            <input type="text" name="especie" value="{{ login and login[4] or '' }}" required>

            <label for="">Raça:</label>
            <input type="text" name="raca" value="{{ login and login[5] or '' }}" required>

            <label for="">Peso:</label>
            <input type="number" name="peso" value="{{ login and login[6] or '' }}" >

            <button type="submit">Cadastrar-se</button>
        </form>
    </div>
</body>
</html>