<!doctype html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Calculando Idade Animal</title>
  <link rel="stylesheet" href="../static/css/idade.css">
</head>

<body>
  <header>
    <img src="../static/img/logoDog.png" alt="Logo Dog Dodói" class="logo">
    <nav>
      <a href="pagina-inicial">Página Inicial</a>
      <div class="sep"></div>
      <a href="calc-soro-medicamento">Miligramas por Medicamento</a>
      <div class="sep"></div>
      <a href="calc-soro-medicamento">Fluidotarapia</a>
      <a href="pagina-inicial"><img src="../static/img/icon.png" alt="" class="icon"></a>
    </nav>
  </header>

  <main>
    <section>
      <h3 class="titulo">Quantos anos seu Pet tem?</h3>
      <div class="center-div">
        <form action='/calculando-idade' method='post'>
          <label for="animal">Informe o Pet (Gato/Cachorro):</label>
          <input placeholder=" Informe a Espécie" type="text" id="animal" name="animal" required>
  
          <label for="idade">Informe a idade do Pet:</label>
          <input placeholder=" Informe a Idade" type="number" id="idade" name="idade" required>
  
          <button class="butão" type="submit">Calcular</button>
        </form>
  
  
        {% if result %}
        <h3 class="resultado">{{ result }}</h3>
        {% endif %}
      </div>
    </section>
    <a class="voltar" href="/pagina-inicial">VOLTAR</a>
  </main>

  <footer id="contato">
    <img src="../static/img/logoDog.png" alt="Logo Dog Dodói" class="logo">
    <div class="container">
      <div>
        <h3>Atendimento</h3>
        <ul>
          <li>clinicadogdodoi@gmail.com</li>
          <li>(18) 91234-5678</li>
        </ul>
      </div>
      <div>
        <h3>Redes Sociais</h3>
        <ul>
          <li>ClinicaDogDodoi</li>
        </ul>
      </div>
    </div>
    <p class="texto-footer">DogDodói® - Todos os direitos reservados | Avenida dos Peludos - N° 123
      - Cidade das Cores / Planalto da Alegria - CNPJ: 12.345.678/0001-90
    </p>
  </footer>
</body>

</html>