<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../static/css/pagina_inicio.css"> 
    <link rel="icon" href="../static/img/pata.png">
</head>
<body>

    <header>
        <img src="../static/img/logoDog.png" alt="Logo Dog Dodói" class="logo">
        <nav>
            <a href="index.html">Home</a>
            <div class="sep"></div>
            <a href="/calculo-idade">Calcular Idade do Seu Animal</a>
            <div class="sep"></div>
            <a href="/calc-soro-medicamento">Calcular Soro e Medicamento</a>
            <a href="pagina-inicial"><img src="../static/img/icon.png" alt="Icon perfil" class="icon"></a>
        </nav>
    </header>

    <main>
        <div class="container">
                <div class="div-">
                    <h2>Perfil</h2>   
                {% for info in login %}
                    <div class="div-informações">
                        <p> <span> Usuário: </span>{{ info[1] }}</p>
                        <p> <span> Telefone: </span>{{ info[2] }}</p>
                        <p> <span> Código: </span>{{ info[0] }}</p>
                        <p> <span> Nome do Animal: </span>{{ info[3] }}</p>
                        <p> <span> Espécie: </span>{{ info[4] }}</p>
                        <p> <span> Raça: </span>{{ info[5] }}</p>
                        <div class="div-sep">
                            <a class="bnt-a" href="/editar_login/{{ info[0] }}">Editar</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="novo-agendamento" href="/cadastro">+ Novo Perfil</a>
                <div class="div-">
                    <h2 class="title">Agendamentos</h2>
                    {% for agenda in agendas %}
                    <div class="div-informações">
                        <p> <span> Tutor: </span>{{ agenda[1] }}</p>
                        <p> <span> Animal: </span>{{ agenda[2] }}</p>
                        <p> <span> Data: </span>{{ agenda[3] }}</p>
                        <p> <span> Horário: </span>{{ agenda[4] }}</p>
                        <p> <span> Sintomas: </span>{{ agenda[5] }}</p>
                        <div class="div-sep">
                            <a class="bnt-a" href="/editar_agendamento/{{ agenda[0] }}">Editar</a>
                            <a class="bnt-a" href="/cancelar_agendamento/{{ agenda[0] }}">Cancelar consulta</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            <a class="novo-agendamento" href="/agendamento">+ Novo Agendamento</a>
        </div>
    </main>

    <footer id="contato">
        <img src="../static/img/logoDog.png" alt="Logo Dog Dodói" class="logo">
        <div class="container-footer">
            <div>
                <h3>Atendimento</h3>
                <ul>
                    <li>clinicadogdodoi@gmail.com</li>
                    <li>(18) 91234-5678</li>
                </ul>
            </div>
            <div>
                <h3>Redes Sociais</h3>
                <ul>
                    <li>ClinicaDogDodoi</li>
                </ul>
            </div>
        </div>
        <p class="texto-footer">DogDodói® - Todos os direitos reservados | Avenida dos Peludos - N° 123 
            -  Cidade das Cores / Planalto da Alegria - CNPJ: 12.345.678/0001-90
        </p>
    </footer>
    
</body>
</html>